.form-group(duck-type='image' duck-field=name)
	label.col-sm-2.control-label= title || name
	.col-sm-10
		input.hidden(type='hidden', duck-value, value= value, required= required)
		.form-control
			i.fa.fa-image(aria-hidden='true')
			| &nbsp;&nbsp;&nbsp;
			span(duck-image-value)= value || 'Click to Select a File...'
		//input.form-control(type='text', placeholder=name, duck-value='duck-value', value=defaultValue)